$strong-cyan : hsl(172, 67%, 45%);
$super-dark-cyan : hsl(183, 100%, 15%);
$dark-gray-cyan : hsl(186, 14%, 43%);
$gray-cyan : hsl(184, 14%, 56%);
$light-gray-cyan : hsl(185, 41%, 84%);
$super-light-gray-cyan : hsl(189, 41%, 97%);
$white : hsl(0, 0%, 100%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Space Mono', monospace;
    font-size: 16px;
}

body {
    min-width: 375px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $light-gray-cyan;
}

.container {
    padding: 0 260px;
    margin-bottom: 5.5rem;
}

.text-hidden {
    display: none;
}

.text-label {
    display: block;
    margin-bottom: 0.8rem;
}

.text-description {
    font-size: 13px;
}

.text-result {
    font-size: 3rem;
    font-weight: 700;
    color: $strong-cyan;
}

.text-cyan {
    color: $dark-gray-cyan;
}

.text-white {
    color: $white;
}

.mb-2 {
    margin-bottom: 2rem;
}

.header__content-wrapper {
    text-align: center;
}

.calculator__container {
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    background-color: $white;
    border-radius: 25px;
}

.calculator__input-container, .calculator__result-container {
    width: 48%;
}

.calculator__btn-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
}

.input__container {
    position: relative;
}

.input {
    width: 100%;
    height: 48px;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: $super-dark-cyan;
    text-align: end;
    background-color: $super-light-gray-cyan;
    background-repeat: no-repeat;
    background-position: 10px 15px;
    border-radius: 5px;
    border-style: none;
}

.input:focus {
    border: 2px solid $strong-cyan;
    outline: none;
}

.input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.input::placeholder {
    font-family: 'Space Mono', monospace;
    color: $gray-cyan;
}

.input__bill {
    background-image: url("images/icon-dollar.svg");
}

.input__people {
    background-image: url("images/icon-person.svg");
}

.error__message {
    display: flex;
    position: absolute;
    top: 4px;
    right: 0;
    color: red;
    visibility: hidden;
}

.input__container.error > input {
    border: 2px solid red;
}

.input__container.error .error__message {
    visibility: visible;
}

.btn {
    padding: 0.5rem;
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
}

.btn-tip_cyan {
    background-color: $super-dark-cyan;
    color: $white;
}

.btn-tip_cyan:hover, .selected {
    color: $super-dark-cyan;
    background-color: $strong-cyan;
}

.btn:active {
    background-color: $light-gray-cyan;
}

.calculator__result-container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $super-dark-cyan;
    border-radius: 15px;
}

.result__tip-amount, .result__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-reset {
    width: 100%;
    text-transform: uppercase;
    color: $super-dark-cyan;
    background-color: $strong-cyan;
}

.btn-reset:disabled {
    background-color: #0D686D;
}
